<div class="order-list" >
  <div class="row header">
    <div class="col-lg-3">
      Id
    </div>
    <div class="col-lg-3">
      State
    </div>
    <div class="col-lg-3">
      Submitted
    </div>
    <div class="col-lg-3">
      Price
    </div>
  </div>
  <app-order-list-node *ngFor="let order of this.orders"
                       [order] = order class="col-sm-1 col-md-1 col-lg-1">
  </app-order-list-node>
  <div *ngIf="this.orders == null || this.orders.length == 0" class="order-list-node">
  </div>

</div>
