<div class="card attribute-list" >
  <div class="row header">
    <div class="col-lg-3 text-center">
      Id
    </div>
    <div class="col-lg-3 text-center">
      Name
    </div>
    <div class="col-lg-3 text-center">
      Price
    </div>
  </div>
  <app-attribute-list-node *ngFor="let attribute of this.attributes; let i = index"
                                    [attribute] = attribute class="col-sm-12 col-md-12 col-lg-12" (deleteAction)="deleteAttribute(i)">
  </app-attribute-list-node>
  <div *ngIf="this.attributes == null || this.attributes.length == 0" class="-attribute-list-node">
  </div>

</div>
