<div class="card add-user">
  <form [formGroup]="formGroup">
    <p class="h4 text-center mb-4">Add user</p>

    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <input type="text" #name class="form-control" placeholder="Name" formControlName="nameCtrl" required >
      <div *ngIf="formGroup.controls['nameCtrl'].touched">
        <div class="alert alert-danger" *ngIf="formGroup.controls['nameCtrl'].errors?.required">This field is required!</div>
      </div>
    </div>

    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <input type="text" #surname class="form-control" placeholder="Surname" formControlName="surnameCtrl" required >
      <div *ngIf="formGroup.controls['surnameCtrl'].touched">
        <div class="alert alert-danger" *ngIf="formGroup.controls['surnameCtrl'].errors?.required">This field is required!</div>
      </div>
    </div>

    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="email" #email class="form-control" placeholder="Email" formControlName="emailCtrl" required pattern="^[a-zA-Z0-9.]+@[a-zA-Z0-9.]+\.[a-zA-Z0-9.]+$">
      <div *ngIf="formGroup.controls['emailCtrl'].touched">
        <div class="alert alert-danger" *ngIf="formGroup.controls['emailCtrl'].errors?.required">This field is required!</div>
        <div class="alert alert-danger" *ngIf="formGroup.controls['emailCtrl'].errors?.pattern">This is not valid email format!</div>
      </div>
    </div>

    <div class="md-form">
      <ng-select [(ngModel)]="userRole" [ngModelOptions]="{standalone: true}" placeholder="Select UserRole">
        <ng-option [value]="'SUBMITTER'">Submitter</ng-option>
        <ng-option [value]="'PRACTITIONER'">Practitioner</ng-option>
        <ng-option [value]="'SUPERADMIN'">SuperAdmin</ng-option>
      </ng-select>
      <div class="alert alert-danger" *ngIf="userRole == undefined">You must select UserRole</div>

    </div>


    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password" #password class="form-control" placeholder="Password" formControlName="passwdCtrl" required minlength="6">
      <div *ngIf="formGroup.controls['passwdCtrl'].touched">
        <div class="alert alert-danger" *ngIf="formGroup.controls['passwdCtrl'].errors?.required">This field is required!</div>
        <div class="alert alert-danger" *ngIf="formGroup.controls['passwdCtrl'].errors?.minlength">Password is too short!</div>
      </div>
    </div>

    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password" #password2 class="form-control" placeholder="Confirm password" formControlName="passwd2Ctrl" required minlength="6">
      <div *ngIf="formGroup.controls['passwd2Ctrl'].touched">
        <div class="alert alert-danger" *ngIf="formGroup.controls['passwd2Ctrl'].errors?.required">This field is required!</div>
        <div class="alert alert-danger" *ngIf="formGroup.controls['passwd2Ctrl'].errors?.minlength">Control password is too short!</div>
        <div class="alert alert-danger" *ngIf="!formGroup.controls['passwd2Ctrl'].errors?.minlength && password.value!= password2.value">Passwords aren't the same!</div>
      </div>
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-info" routerLink="/admin/users">Cancel</button>
      <button class="btn btn-info" [disabled]="formGroup.invalid || userRole == undefined" (click)="createUser(name.value, surname.value, userRole, email.value, password.value)">Submit</button>
    </div>
  </form>

</div>
