<div class="attribute-category-list-node">
  <div class="row">
    <div class="col-lg-3 text-center">
      <a [routerLink]="['/admin/attribute-categories/', this.attributeCategory.id]">
        {{attributeCategory.id}}
      </a>
    </div>
    <div class="col-lg-3 text-center">
      {{attributeCategory.name}}
    </div>
    <div class="col-lg-3 text-center">
      {{attributeCategory.minimalPrice}}
    </div>
    <div class="col-lg-2 text-center">
      <button type="button" class="close" aria-label="Close" (click)="deleteAttributeCategory()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
