<div class="card product-list">
  <div class="row header">
    <div class="col-lg-3 text-center">
      Picture
    </div>
    <div class="col-lg-3 text-center">
      Id
    </div>
    <div class="col-lg-3 text-center">
      Name
    </div>
  </div>
  <app-product-list-node *ngFor="let product of this.products; let i = index"
    [product]="product" class="col-sm-12 col-md-12 col-lg-12" (deleteAction)="deleteProduct(i)">
  </app-product-list-node>


  <div *ngIf="this.products == null || this.products.length == 0" class="product-list-node">
  </div>
</div>
