<div class="card created-product-list">
  <div class="row header">
    <div class="col-lg-2 text-center">
      Picture
    </div>
    <div class="col-lg-3 text-center">
      Name
    </div>
    <div class="col-lg-2 text-center">
      Count
    </div>
    <div class="col-lg-2 text-center">
      Price
    </div>
    <div class="col-lg-3 text-center">
      Total price
    </div>
  </div>
  <app-created-product-list-node *ngFor="let createdProduct of this.createdProducts"
                         [createdProduct]="createdProduct" class="col-sm-12 col-md-12 col-lg-12">
  </app-created-product-list-node>


  <div *ngIf="this.createdProducts == null || this.createdProducts.length == 0" class="created-product-list-node">
  </div>
</div>
