<div class="product-category-detail">
  <div class="form-group row">
    <label for="id" class="col-form-label">Id</label>
    <div class="col-sm-6">
      <div class="md-form mt-0">
        <input type="text" value="{{productCategory.id}}" class="form-control" id="id" disabled>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="name" class="col-form-label">Name</label>
    <div class="col-sm-6">
      <div class="md-form mt-0">
        <input type="text" value="{{productCategory.name}}" class="form-control" id="name" disabled>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="parent" class="col-form-label">Parent</label>
    <div class="col-sm-6">
      <div class="md-form mt-0">
        <input type="text" value="{{productCategory.parentCategoryId}}" class="form-control" id="parent" disabled>
      </div>
    </div>
  </div>



</div>
