<div *ngIf="loaded" class="detail">
  <app-order-detail
    [order]="this.order">
  </app-order-detail>

  <h4>Products</h4>
  <app-product-list>

  </app-product-list>

  <div class="row">
    <p>Price : </p>
    <p>{{order.price}}</p>
  </div>

  <div class="text-center mt-4">
    <button class="btn btn-primary" routerLink="./..">Back</button>
    <button class="btn btn-primary" [hidden]="!isSubmitted()" (click)="cancelOrder()">Cancel order</button>
    <button class="btn btn-primary" [hidden]="!isSubmitted()" (click)="processOrder()" >Process order</button>
    <button class="btn btn-primary" [hidden]="!(isSubmitted() || isProcessed())" (click)="finishOrder()" >Finish order</button>
  </div>

</div>
