<div *ngIf="product != undefined" class="product-detail">
<div *ngIf="showSuccess" class="alert alert-success" role="alert">
  <a href="#" class="close" (click)="showSuccess=false">&times;</a>
  Your product has been added to basket.  <a class="alert-link" [routerLink]="['/marketplace/basket']">Show it.</a>
</div>
  <!--Product header-->
  <h2>{{product.name}}</h2>
  <div class="row">
    <div class="thumbnail m-2">
      <img class="col-md-4 col-s-11 shadow product-image" [src]="'data:image/png;base64,' + product.image">
    </div>
    <div class="col-md-8 col-s-12 product-description">
      {{product.description}}
    </div>
  </div>

  <!--Template select-->
  <div class="row template-select justify-content-center">
      <h3>
        Choose a model
      </h3>
  </div>
  <div class="row justify-content-center">
    <div class="templates justify-content-center">
      <app-template-selector class="template-selector"
        [templates]="product.templates"
        (templateSelected)="switchTemplate($event)">
      </app-template-selector>
    </div>
  </div>

  <!--Attribute categories-->
  <div *ngIf="selectedTemplate != undefined" class="product-attribute-categories">
    <app-attribute-categories
      class="row"
      [attributeCategories]="selectedTemplate.attributeCategories"
      (selectedAttribute)="setAttribute($event)">
    </app-attribute-categories>
  </div>

  <!--Total price-->
  <div *ngIf="createdProductCreate != undefined" class="summary shadow-lg">
    <div class="total-price">
      <div class="product-count">
        Count:
        <label>
          <input type="number" [(ngModel)]="countOfProducts" (ngModelChange)="recalculateTotalPrice()"/>
        </label>
      </div>
      <div class="single-product-price">
        Single product price is:
        <div class="pull-right">
          {{singleProductPrice}},-
        </div>
      </div>
      <div class="total-price">
        Total price is:
        <div class="pull-right">
          {{totalPrice}},-
        </div>
      </div>
      <button type="button" class="btn btn-primary pull-right" (click)="addProductToBasket()">Add to basket</button>
    </div>
  </div>
</div>
