.product-detail {
  margin-top: 20px;
}

.product-image {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.image {
  height: 260px;
  background: #ffffff;
  border: solid 1px #dedede;
}

.product-attribute-categories {
  margin-top: 20px;
}

.summary {
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 10%;
  background: #ffffff;
  z-index: 1;
}

.template-select {
  margin-top: 20px;
}

.product-description {
  font-size: 20px;
}

.template-selector {
  display: inline-flex;
}

.product-count {
  font-size: 1em;
}

.single-product-price {
  font-size: 0.8em;
}

.total-price {
  font-size: 1.6em;
}
