<div *ngIf="loaded" class="card detail">
  <h4 class="card-header">Order detail</h4>
  <app-order-detail
    [order]="this.order">
  </app-order-detail>

  <div class="products">
    <h4>Products</h4>
    <app-created-product-list  [createdProducts]="this.order.products">
    </app-created-product-list>
  </div>

  <div  class="card-footer text-right">
    <h4>Price : {{order.price}} ,-</h4>
  </div>

  <div class="text-center mt-4">
    <button class="btn btn-info" routerLink="/marketplace/profile">Back</button>
  </div>

</div>
